<!--
Kod ukradziony z mojego projektu :3
https://github.com/turek9933/Homework-System/
-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %></title>