<!--
Kod ukradziony z mojego projektu :3
https://github.com/turek9933/Homework-System/
-->
<nav>
    <a href="/">Home</a>
    <a href="/book/list">Books List</a>
    <a href="/author/list">Authors List</a>
    <a href="/book/add">Add Book</a>
</nav>