<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>

        <h1>Home</h1>
        <p>Welcome!<br>Please use navigation above</p>
    </body>
</html>