<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Page doesn’t exist</h1>
        <a href="/">Back home</a>
    </body>
</html>
