<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navigation.ejs %>
        <h1>Success</h1>
        <p>Student has been added with success!</p>
        <a href="/">Back home</a><br>
        <a href="/students-list">To the list</a>
    </body>
</html>